* {
justify-content: center;
align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  color: white;
  height: 100vh;
  width: 100vw;
}

.navBar {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  background: grey;
  width: 100vw;
  padding-right: 1rem;
}

.character, .location, .episode {
  display: flex;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: blue;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  width: 100vw;
}

.display {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 1.5rem;
}

.bottom {
  display: flex;
  align-self: flex-end;
  width: 100vw;
  gap: 5rem;
  background-color: aquamarine;
}

.btns {
  display: flex;
  width: 5rem;
  padding: 0.1rem;
}

.info {
  display: flex;
  text-align: center;
  background-color: rgba(45, 45, 45, 1);
  border: 1px solid rgba(45, 45, 45, 1);
  border-radius: 20%;
  height: 10rem;
  width: 10rem;
  padding: 10px;
}

img {
  border: 1px solid rgba(45, 45, 45, 1);
  border-radius: 20%;
  width: 10rem;
  height: 10rem;
}

.mainModal {
  background-color: rgba(45, 45, 45, 0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;

}

.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  background-color: rgba(45, 45, 45, 0.8);
}

.hidden {
  display: none;
}